[data-theme="dark"] {
  --shadow-sm: 0 0px 6px var(--green-color-500);
  --shadow-md: 0 0px 12px var(--green-color-500);
  --radius-md: 10px;
  --radius-sm: 5px;
  --padding-md: 10px;
  --padding-sm: 5px;

  --primary-color: #ffffff;
  --primary-linkColor: #335d46;
  --primary-background: rgb(13, 13, 17);
  --secondary-background: rgb(17, 17, 22);
  --secondary-color: #a3a3a3;
  --borderColor: #0b0b11;
  --lite-borderColor: #1b1b25;
  --secondary-borderColor: rgb(22, 21, 33);
  --button-backgroundColor: var(--green-color-400);
  --button-padding-md: 10px;
  --button-padding-sm: 5px;
  --button-gradient-1: var(--secondary-background);
  --button-gradient-2: #0b0b11;
  --overlay-color: rgba(77, 77, 83, 0.176);
  --checkmark-color: #303030;
  --scrollbar-color: #303030;

  --green-color-100: #8ebaa3;
  --green-color-200: #6bbf59;
  --green-color-300: #08a045;
  --green-color-400: #0b6e4f;
  --green-color-500: #030505;

  --lite-color-100: #acacac;
  --lite-color-200: #8f8f8f;
  --lite-color-300: #5e5e5e;
  --lite-color-400: #444444;
  --lite-color-500: #2b2b2b;

  --logo-strokeColor: rgb(26 26 26);
  --logo-fillColor: #636363;
}
