[data-theme="light"] {
  --body-backgroundColor: #1d2e28;
  --shadow-sm: 0 0px 6px rgba(0, 0, 0, 0.123);
  --shadow-md: 0 0px 12px rgba(0, 0, 0, 0.091);
  --logo-strokeColor: rgb(26 26 26);
  --logo-fillColor: #636363;

  --primary-background: #fbfbfb;
  --secondary-background: #f4f4f4;
  --body-background: #1b1b1b;
  --primary-color: #000000;
  --secondary-color: #000000;
  --primary-linkColor: #335d46;

  --green-color-100: #21d375;
  --green-color-200: #6bbf59;
  --green-color-300: #76e276;
  --green-color-400: #0b6e4f;
  --green-color-500: #073b3a;

  --logo-strokeColor: rgb(214, 214, 214);
  --logo-fillColor: #7a7a7a;

  --primary-hrLineColor: #d5d5d5;
}
