@import url("https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap");
.model {
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
  width: 100%;
}
.letterContainer {
  transform: translateY(-5px) translateX(-100%);
  z-index: 1;
  transition-duration: 300ms;
  transition-property: opacity transform;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  opacity: 0;
}

.letterContainer div {
  position: relative;
  margin-top: 10px;
  margin-right: 20px;
  font-family: "WDXL Lubrifont SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.letterContainer div:not(:first-child):after {
  content: "";
  width: 1px;
  height: 60%;
  background: var(--lite-color-100);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}

.letterContainer a:hover {
  transition: transform 100ms ease-in-out;
  transform: scale(1.4);
  color: var(--secondary-color);
}

/* Scroll the letter container on hover */

.letterContainer.showLetters {
  transform: translateX(10px) translateY(-5px);
  opacity: 1;
}

.azButton {
  cursor: pointer;
  z-index: 3;
  flex-wrap: nowrap;
  font-size: 1.2rem;
  color: var(--lite-color-100);
  box-shadow: var(--shadow-sm);
  padding: var(--button-padding-sm);
  border-radius: var(--radius-sm);
  background: linear-gradient(
    90deg,
    var(--button-gradient-1) 0%,
    var(--button-gradient-2) 43%
  );
}

.azWrapper {
  width: max-content;
  overflow: hidden;
  position: relative;
}
