@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+SC&display=swap');
.model {
  justify-content: center;
  font-size: 1.4rem;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}
.letterContainer {
  transform: translateY(-5px) translateX(-100%);
  z-index: 1;
  transition: transform 1s ease-in-out;
}
.letterContainer div {
  position: relative;
  margin-right: 20px;
  font-family: 'WDXL Lubrifont SC', sans-serif;
  font-weight: 400;
  font-style: normal;
}
.letterContainer div:not(:first-child):after {
  content: '';
  width: 1px;
  height: 60%;
  background: var(--lite-color-100);
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.letterContainer a:hover {
  transition: transform 200ms ease-in-out;
  transform: scale(1.4);
  color: var(--secondary-color);
}

/* Scroll the letter container on hover */

.letterContainer.showLetters {
  transform: translateX(10px) translateY(-5px);
}

.azButton {
  z-index: 3;
  box-shadow: var(--shadow-sm);
  padding: var(--button-padding-sm);
  border-radius: var(--radius-sm);
  background: linear-gradient(
    90deg,
    var(--button-gradient-1) 0%,
    var(--button-gradient-2) 43%
  );
}

.azWrapper {
  width: max-content;
  overflow: hidden;
}

/* .letterContainer div {
  padding-right: 15px;
  padding-left: 20px;
  height: 20px;
  position: relative;
  margin-bottom: 20px;
  overflow-y: scroll;
}
.letterContainer div:not(:last-child):after {
  content: '';
  width: 1px;
  height: 50%;
  position: absolute;
  right: 0;
  top: 60%;
  transform: translateY(-60%);
  border-right: 1px solid var(--lite-color-300);
}

.letterContainer {
  margin-bottom: 10px;
} */
