.overlay {
  background: rgba(16, 20, 25, 0.489);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.box {
  width: 400px;
  height: 200px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-background);
  box-shadow: var(--shadow-md);
  visibility: hidden;
  opacity: 0;
}
.slideBox {
  top: 50%;
  opacity: 1;
  visibility: visible;
  transition-property: opacity position;
  transition-timing-function: ease;
  transition-duration: 800ms;
  transform-origin: bottom;
}
