.box {
  background: #111111;
  width: 370px;
  max-width: 350px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.box:hover {
  box-shadow: 0px 0px 16px -3px rgba(0, 0, 0, 0.5);
}
.word {
  border-bottom: 1px solid #1b1a1a;
  width: 100%;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  padding: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-family: Inter;
}

.shortDes {
  font-size: 1rem;
  font-weight: 350;
  font-family: Inter;
  color: var(--light-color);
}

[data-type="verb"].word::after {
  content: "Verb";
  background: #bda4a4;
  background: #8f4949;
  background: linear-gradient(90deg, rgb(126, 45, 43) 0%, rgb(147, 59, 59) 50%);
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: "WDXLLubrifontTC", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
