.box {
  background: var(--secondary-background);
  width: 370px;
  max-width: 350px;
  padding: 10px;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.box:hover {
  box-shadow: var(--shadow-md);
  transition: box-shadow 200ms ease-in-out;
}
.word {
  border-bottom: 1px solid var(--primary-hrLineColor);
  width: 100%;
  display: inline-block;
  position: relative;
  text-transform: capitalize;
  padding: 10px;
  font-style: italic;
  font-weight: 600;
  font-size: 1.7rem;
  margin-bottom: 10px;
  font-family: Inter;
}

.shortDes {
  font-size: 1rem;
  font-weight: 400;
  font-family: Inter;
  color: var(--secondary-color);
  font-family: Inter;
}

[data-type='4'].word::after {
  content: 'Adjective';
  background: linear-gradient(
    90deg,
    rgb(104, 43, 126) 0%,
    rgb(115, 59, 147) 50%
  );
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: 'WDXLLubrifontTC', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

[data-type='4'].word::after {
  content: 'Adverb';
  background: linear-gradient(
    90deg,
    rgb(43, 126, 51) 0%,
    rgb(118, 147, 59) 50%
  );
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: 'WDXLLubrifontTC', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

[data-type='3'].word::after {
  content: 'Adjective';
  background: linear-gradient(
    90deg,
    rgb(104, 43, 126) 0%,
    rgb(142, 60, 189) 50%
  );
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: 'WDXLLubrifontTC', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

[data-type='2'].word::after {
  content: 'Verb';
  background: linear-gradient(90deg, rgb(126, 45, 43) 0%, rgb(167, 41, 41) 50%);
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: 'WDXLLubrifontTC', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

[data-type='1'].word::after {
  content: 'Noun';
  background: linear-gradient(90deg, rgb(43, 72, 126) 0%, rgb(47, 52, 183) 50%);
  padding: 1px 7px 1px 7px;
  border-radius: 3px;
  font-size: 12px;
  color: #cccccc;
  position: absolute;
  right: 0;
  font-family: 'WDXLLubrifontTC', sans-serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}
